<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Saucy Ramen Restaurant</title>
    </head>
    <body>
        <nav class="navbar bg-light navbar-light">
            <div class="navbar-nav">
                <ul>
                    <li><a href="">Your Information</a></li>
                    <li><a href="">Menu Options</a></li>
                    <li><a href="">Order Options</a></li>
                </ul>
            </div>
        </nav>
        <h1>Saucy Ramen Restaurant</h1>
        <button type="button">Order Now!</button>
    </body>
</html>